[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "viveksinghggits.github.io"]
	path = viveksinghggits.github.io
	url = https://github.com/viveksinghggits/viveksinghggits.github.io.git
